// brand
$primary-color: #252bbd;
$secondary-color: #d2d4f1;

// typography colors
$white: #fefefe;
$lightgray: #e2e2e2;
$gray: #a8a8b0;
$darkgray: #76767d;
$charcoal: #202130;
$black: #444;

// expressive colors
$inform-color: #8d40ce;
$condone-color: #7fbd4f;
$warn-color: #ff7d0d;
$attention-color: #ff1539;

// fonts
$serif: 'Roboto Slab';
$sans-serif: 'Roboto';
$monospace: 'Source Code Pro';

// font sizes
$base-font-size: 18px;
$font-xl: 1.6rem;
$font-lg: 1.2rem;
$font-md: 1rem;
$font-sm: 0.8rem;

// border
$border-width: 1px;
$border-style: solid;
$border-radius: 2px;
